
$global-background: white;

$accent: #f78827;
$accent-light: #ffebdb;
$warning-vivid: #e00000;

$auditor-grey: #aaaaaa;
$pale-grey: #b9b9b9;
$ashen-grey: #d4d4d4;
$dolphin-grey: #f2f2f2;
$blackish: #2c3e50;

$gutter-thin: 0.25rem;
$gutter: 0.5rem;
$gutter-strip: 0.75rem;
$gutter-wide: 1rem;

$font-xsmall: 0.5rem;
$font-small: 0.8rem;
$font-medium: 0.9rem;
$font-large: 1rem;
$font-xlarge: 1.2rem;
$font-giant: 1.5rem;
$font-xgiant: 2rem;

